# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# exports folder
exports/

# Local Netlify folder
.netlify
acf-export-2026-02-06.json
.gitignore
.gitignore
current-Vouchers-Export-2026-February-06-1746.xml
SYNC_WORDPRESS.md
